@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nova+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    color: #2d2c2c;
}
/* svg classes */
.dark-svg{
    stroke:#113d48;
}
.light-svg{
    stroke: #ffffff;
    transition: 0.3s ease-in-out;
}
.in-btn{
    width: 30px;
    transition: 0.3s ease-in-out;
}
/* end of svg */
body{
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    transition: 0.3s ease-in-out;
}
a:hover{
    color:  #bb4618 !important;
}
a:hover > .fa-solid{
    color: #bb4618;
}
a .fa-solid{
    transition: 0.2s ease-in;
}
li{
    list-style: none;
}
input:focus,
select:focus{
    outline:1px solid #f58826 !important;
    border: 1px solid transparent !important;
}
.accordion-button{
    background-color: transparent !important;
}
.accordion-button:focus{
    box-shadow: none;
}
.text-primary{
    color: #113d48 !important;
}
.text-secondary-2{
    color:#0a637a;
}
.contact-control:focus{
    outline: none !important;
}
.enquiry-form .form-group textarea{
    height: 20vh;
}
.enquiry-form .form-group.col-6{
    width: 49% !important;
}
.enquiry-form .form-group.col-6:last-child{
    margin-left: 2%;
}
.form-control:focus{
    box-shadow: none;
}
.contact-control{
    padding:10px;
    border:1px solid transparent;
}
select{
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgb(200, 200, 200);
}
input[type=checkbox],
input[type=range]{
    outline: none !important;
}
.my-icon{
    color:  #f58826;
}
.bg-icon{
    background-color: #f58826;
}
.dft-color{
    color: #2d2c2c !important;
    transition: 0.3s ease-in-out;
}
.dft-color-3{
    color: #8a8e99;
}
.dft-color-2{
    color:#113d48;
}
.my-n-text{
    padding: 0 20px;
}
.dft-color-2{
    color:#113d48;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    margin-left: 0% !important;
}
.my-bg{
    background-color:  #bb4618;
}
.fw-s-bold{
    font-weight: 600;
}
.w-border{
    padding-right: 10px;
    border-right:1px solid rgb(180, 180, 180);
}
.w-fit{
    width: fit-content !important;
}
.btn-lang{
    border:1px solid rgb(180, 180, 180);
    font-size: 14px;
    background-color: transparent;
    height: 30px;
    padding: 0px 5px;
    border-radius: 15px;
}
.nav-bar.row{
    padding: 10px;
}
.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.f-12{
    font-size: 12px;
}
.f-10{
    font-size: 10px;
}
.f-22{
    font-size: 22px;
}
.f-8{
    font-size: 8px;
}
.border-left{
    border-left: 1px solid rgb(220, 220, 220);
}
.img-logo{
    width: 200px !important;
    height: auto;
}
.nav-a{
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transform: 0.3s ease;
}
.nav-a::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  #bb4618;
    z-index: 0;
    transition: width 0.4s ease;
}
.nav-a:hover::before{
    width: 100%;
}
/* dark button */
.btn-default-dark {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color: #113d48;
    color: white; 
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color:  #bb4618; 
    border-radius: 30px;
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-dark:hover::before {
    width: 100%;
  }
  
  .btn-default-dark span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
  }
  .img-scallable img{
    transition: 0.4s ease-in-out;
  }
.img-scallable:hover > img{
    transform: scale(1.2);
}
/* light button */
.btn-default-light {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color:  #bb4618;
    color: white; 
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color: #113d48;
    border-radius: 28px; 
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-light:hover::before {
    width: 100%;
  }
  
  .btn-default-light span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
  }
/* white button */
.btn-default-white {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color: transparent;
    border:1px solid #ffffff;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-white::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color: #ffffff;
    border-radius: 28px; 
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-white:hover::before {
    width: 100%;
  }
  
  .btn-default-white span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
    transition: width 0.4s ease;
  }
 
.carousel.slide.custom-slider,
.carousel.slide.custom-slider .carousel-item,
.carousel.slide.custom-slider .carousel-item .carousel-item-inner,
.carousel.slide.custom-slider .carousel-item .carousel-caption{
    height: 90vh;
}
.blog-card .carousel.slide.custom-slider,
.blog-card .carousel.slide.custom-slider .carousel-item{
    height: 60vh;
    border-radius: 20px;
    overflow: hidden;
}
.blog-card .carousel.slide.custom-slider .carousel-item .carousel-item-inner{
    overflow:hidden !important;
}
.carousel-caption{
    height: 90%;
    top:5%;
    left: 5%;
    text-align: left;
    z-index: 5;
}

.carousel-caption h5{
    font-size: 24px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction: alternate;
}
.carousel-caption p{
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction:alternate;
    font-size: 46px;
    z-index: 5;
}
.carousel-caption.with-anime .btn-default-white,
.carousel-caption.with-anime .btn-default-light{
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction:alternate;
}
.slider-dark-panel.carousel-caption{
    width:100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    z-index:2;
}
@keyframes goUp {
    0%{
        opacity: 0;
        margin-top:10%;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.carousel-control-prev,
.carousel-control-next{
    z-index: 10;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    padding:15px 15px;
    background-color: #000;
    border-radius: 5px;
    background-image: none;
    opacity: 0.5;
    height: 45px;
    width: 50px;

}
.custom-btn.fa-solid{
    z-index: 11;
    font-size: 28px;
    padding:30px 30px;
    background-color: #000;
    border-radius: 50%;
}
.custom-btn.fa-solid:hover{
    background-color: #bb4618;
    opacity: 1;
    transition: 0.4s ease-in-out;
}
.blogs .custom-btn.fa-solid,
.custom-btn.fa-solid:hover{
    border-radius: 50%;
}
.search-card{
    padding: 20px;
    background-color:#d8f3f9;
    width: 96%;
    border-radius: 8px;
    margin-left: 2%;
}
.search-card h4.section-title{
    font-size: 25px;
}
.underline{
    margin-top: 10px;
    height: 5px;
    width: 100%;
    background-color: #e9f5f7;
}
.search-side .card{
    padding: 20px;
    width: 96%;
    border-radius: 8px; 
    margin-left: 2%;
}
.border-bottom{
    border-bottom: 1px solid rgb(220, 220, 220);
}
.cat-item{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(220, 220, 220);
    cursor: pointer;
}
.underline-inner{
    background-color: #113d48;
    width: 60px;
}
.d-card{
    width: 70px;
    height: 80px;
    border: 1px solid #f58826;
}
.search-bg{
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 50px;
}
.search-bg input{
    border:0px;
}
.search-bg input:focus{
    outline: none !important;
}
.blog-card{
    margin-bottom: 20px;
}
.card-wrapper{
    width:25%;
}
.search-bar.carousel-caption{
    width:90%;
    left:5%;
    /* padding:20px; */
    border-radius: 20px;
    border:2px solid  #bb4618;
    height: 15vh;
    top:105vh;
    z-index: 20;
}
.search-bar.carousel-caption .col-3{
    width:20%;
    border-right: 1px solid rgb(200, 200, 200);
}
.search-bar.carousel-caption .col-3 .form-control{
    border:0px;
    margin-left: 5px;
}
.search-bar.carousel-caption .col-3 .fa-solid{
    margin-top: 27px;
    margin-left: 20px;
}
.categories{
    margin-top: 20vh;
    width:92%;
    margin-left: 4%;
}
.title-italic{
    font-size: 20px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    color:#113d48;
}
.section-title{
    font-size: 32px;
    color:#113d48;
}
.categories .card-text{
    font-weight: 600;
    color:rgb(150, 150, 150);
    cursor: pointer;
    font-size: 12px;
}
.categories .card-wrapper .card{
    border:0px;
}
.categories .card-wrapper .card .card-top{
    height: 30vh;
}
.categories .card-wrapper .card .card-top .card-top-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    opacity: 0; 
    transition: opacity 0.4s ease; 
}
.categories .card-wrapper .card .card-top .card-img-top{
    border-radius: 10px;
}
.categories .card-wrapper .card:hover .card-top .card-top-cover {
    opacity: 1; 
}

.categories .card-wrapper .card .card-top .card-top-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background: rgba(255, 255, 255, 0.3); 
    transition: height 0.4s ease;
}

.categories .card-wrapper .card:hover .card-top .card-top-cover::before {
    height: 100%; 
}
.categories .category-inner{
    margin-top: 5vh;
    width:94%;
    margin-left: 3%;
}
.mt-10-vh{
    margin-top: 10vh;
}
.mt-20-vh{
    margin-top: 20vh;
}
.mt-5-vh{
    margin-top: 5vh;
}
.vh-50{
    height: 50vh;
}
.vh-60{
    height: 60vh;
}
.vh-80{
    height: 80vh;
}
.vh-70{
    height: 70vh;
}
.destinations .card.col-4{
    width: 30%;
    padding:0px;
    border:0px;
    border-radius: 15px;
}

.destinations .card-1,
.destinations .card-1-right{
    top: 10%;
    height: 80%;
    z-index: 1;
    filter: blur(6px);
}
.destinations .card.active{
    left: 35%;
}
.destinations .card-2{
    left: 15%;
    filter: blur(6px);
}
.destinations .card-1-right{
    left: 70%;
}
.destinations .card-2-right{
    left: 55%;
    filter: blur(6px);
}
.destinations .card-2,
.destinations .card-2-right{
    top: 5%;
    height: 90%;
    z-index:2;
}
.destinations .card.active{
    width: 30%;
    height: 100%;
    z-index: 3;
}
.card-inner-image{
    z-index: 1;
}
.card-inner-image img{
    min-width: 100% !important;
}
.card-inner-dark-layout{
    z-index: 2;
    opacity: 0.5;
}
.card-inner-text{
    z-index: 3;
}
.card-inner-text .btn-default-white{
    padding: 5px 10px;
    width:fit-content;
}
.cursor-follower-inner-dark-layout{
    background-color: #113d48;
    border-radius: 50%;
    opacity: 0.8;
}
.cursor-follower-text{
    z-index: 2;
}
.cursor-follower-text-inner-inner p{
    margin-top: 10px;
}

/* destination carousel */
.destinations .destination-inner {
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .destinations .destination-inner::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
  }
  
  .destinations .hidden-card {
    display: none;
  }
  
  .destinations .card {
    transition: all 0.3s ease;
    scroll-snap-align: center;
  }
  
/* end of carousel */
.plan-tour{
    height: 90vh;
    width:86%;
    margin-left: 7%;
}
.tl-img{
    width: 300px;
    overflow: hidden;
    border-radius: 150px;
    border-bottom-right-radius: 0px;
}
.st-img{
    margin-left: 20px;
    width: 300px;
}
.st-img img{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    margin-bottom: 10px;
}
.st-img img:nth-child(2){
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 0px;
}
.plan-tour .title-italic,
.plan-tour .section-title{
    padding: 0px 20px;
}
.plan-tour .section-title{
    font-size: 42px;
}
.plan-tour .col-6.tour-detail{
    width: 40%;
}
.plan-tour-us .section-title{
    font-size: 24px;
}
.plan-tour-us{
    padding: 0px 20px;
}
.plan-tour-icon{
    width: 70px;
    height: 70px;
    background-color: #bb4618;
    border-radius: 50%;
    transition: 0.2s ease-in;
}
.plan-tour-icon:hover{
    background-color: #113d48;
}
.plan-tour-icon:hover > .plan-tour-icon-inner img{
    transform: rotateY(180deg);
}
.plan-tour-icon img{
    width: 40px;
    height: 40px;
    transition: 0.2s ease-in;
}
.plan-tour-text{
    margin-left: 10px;
    width: 70%;
}
.plan-tour-text .section-title{
    padding: 0px;
}
.mt-2-vh{
    margin-top:2vh;
}
.plan-tour-btn{
    margin-left: 20px;
}
.tours .card-wrapper{
    width: 25%;
    min-width: 25%;
}
.tours .card-wrapper .card img{
    height: auto;
}
.custom-light-color{
    font-size: 16px !important;
    color: rgb(150, 150, 150);
}
.card .section-title{
    font-size: 22px;
    font-weight: 600;
}
.card .btn-default-white{
    border: 1px solid #113d48;
    padding: 8px 10px
}
.card .btn-default-white .text-white{
    color:#113d48 !important;
}

.card .btn-default-white::before{
    background-color: #113d48;
}
.card .btn-default-white:hover .text-white{
    color: #ffffff !important;
}

.card .btn-default-white span{
    font-size: 15px;
}
.card .btn-default-white .fa-solid{
    font-size: 15px;
}
.destination-inner .card-wrapper .card{
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px !important;
    width: 93%;
    margin-left: 3.5%;
    overflow: hidden;
}
.tours .card-wrapper .card:hover > img{
    scale: 1.05;
}
.destination-inner .card-wrapper .card img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s ease-in-out;
}
.destination-inner{
    overflow: hidden;
}
.gallery .col-2{
    width: 25%;
}
.gallery .col-2 img{
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.gallery .gallery-img-container{
    width: 94%;
    margin-left: 2%;
    height: 28vh;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
.gallery .gallery-inner-bg{
    z-index: 2;
    opacity: 0.4;
    border-radius: 20px;
}
.gallery-inner-text{
    z-index: 4;
}
.gallery-inner-text-inner .fa-solid{
    display: none;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    animation: zoomIn 0.3s 1 alternate;
}
.gallery-img-container:hover .gallery-inner-text-inner .fa-solid{
    display: block !important;
}  
.gallery-img-container:hover > .gallery-inner-img-container img{
    transform: scale(1.05);
}
@keyframes zoomIn {
    0% { opacity: 0; font-size: 1px; }
    100% { opacity: 1; font-size: 18px; }
  }
.stat-card{
    width: 300px;
    height: 300px;
    border: 1px solid #113d48;
    border-radius: 50%;
}
.stat-card-inner{
    width: 270px;
    height: 270px;
    margin-top: 13px;
    border-radius: 50%;
    background-color: transparent;
}
.stat-card-inner-bg{
    background-color: #d8f3f9;
    opacity: 0.3;
    border-radius: 50%;
    left: 13px;
}
.stat-card-inner-front-text h4{
    font-size: 42px;
    font-weight: 600px;
}
.stat-card-inner-front{
    margin-left:13px;
}
.stat-card-inner-front-text p{
    font-size: 18px;
}
.h-80-vh{
    height: 80vh;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #f58826;
}
.error-img{
    width: 96%;
}
.testimonial-card.card .card-body img{
    width: 60px;
}
.testimonial-card.card .card-body .section-title{
    font-size: 16px;
    margin-bottom: 0px;
}
.testimonial-card.card .card-body .card-body-inner .custom-light-color{
    margin-top: 0px;
}
.t-icon{
    width: 50px;
    height: 50px;
    background-color: #113d48;
    border-radius: 5px;
}
.testimonial-card.card .card-body .t-icon .t-icon-inner img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.testimonial-card.card{
    border: 1px solid transparent !important;
    transition: 0.3s ease-in-out;
    background-color: #d8f3f9;
}

.footer input{
    padding: 5px 20px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 30px;
    margin-right: 10px;
    width: 55%;
    margin-left: 10%;
}
.footer button{
    width: calc(35% - 10px);
}
.footer-upper{
    padding: 50px 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.footer-bottom{
    background-color: #113d48;
}
.footer-bottom .categories{
    padding: 50px 0px;
}
.footer-bottom .img-logo{
    width: 180px !important;
}
.footer-bottom p{
    width: 90%;
    margin-top: 20px;
}
.footer-bottom .section-title{
    font-size: 22px;
    font-weight: 550;
}
.footer-bottom li{
    margin-bottom: 10px;
}
.footer-icon{
    width: 40px;
    height: 40px;
    background-color: #0a637a;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.footer-bottom .footer-icon .fa-brands{
    font-size: 14px;
    color: #ffffff;
}
.footer-bottom .footer-icon:hover > .footer-icon-inner .fa-brands{
    animation-name: goDown;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}
.error-inner .btn-default-dark{
    width: fit-content;
}
.h-100-vh{
    height: 100vh;
}
@keyframes goDown {
    0%{
      margin-top: -30px;
      opacity: 0;  
    }
    100%{
        margin-top: 0px;
        opacity: 1;  
    }
}

.footer-bottom .touch-icon:hover{
    background-color: #f58826 !important;
}
.bg-light{
    background-color: #f58826 !important;
}
.bg-primary{
    background-color: #113d48 !important;
    transition: 0.3s ease-in-out;
}
.custom-border.border{
    border: 1px solid #113d48 !important;
}
button.btn.bg-primary:hover{
    background-color: #0a637a !important;
}
.bg-very-light{
    background-color: #d8f3f9;
}
.touch-content{
    width: 230px;
    margin-bottom: 20px;
}
.touch-content p{
    margin-top:0px;
    margin-left: 5px;
    margin-bottom: 0px;
    max-width: 100%;
}
.footer-banner{
    background-color: #113d48;
    padding: 15px;
}
.footer-banner p{
    margin:0px 0px;
    padding: 0px 20px;
    width: calc(100% - 40px);
}
.phone-bar{
    width: 400px;
    border-right: 4px solid #113d48;
    /* display: none !important; */
}
.dark-panel{
    /* display: none !important; */
}

.footer-bottom .categories{
    margin-top: 0px;
}
.banner-bg{
    z-index: 2;
    opacity: 0.5;
    /* background-color: #113d48; */
}
.banner-front-text{
    z-index: 4;
}
.banner{
    overflow: hidden;
}
.banner p{
    font-size: 20px;
}
.banner p span{
    font-weight: 400;
}
.banner p span a:hover{
    color: #ffffff !important;
}
.banner .section-title{
    font-size: 46px;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: transparent;
  }

  .back-to-top-inner:hover > .back-to-top-inner-inner .back-to-top-button{
    animation-name: backToTop;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}
.services .destination-inner .card-wrapper .card{
    border:0px;
    background-color: #d8f3f9;
}
.services .destination-inner .card-wrapper .card .btn-default-white{
    border-color: #113d48;
    padding: 10px 15px;
}
.services .destination-inner .card-wrapper .card .btn-default-white:hover::before{
    border-color: transparent;
    background-color: #113d48;
}
.services .destination-inner .card-wrapper .card .btn-default-white:hover > span.dft-color,
.services .destination-inner .card-wrapper .card .btn-default-white:hover > span.dft-color .fa-solid{
    color: #ffffff !important;
    transition: 0.3s ease-in;
}
.error-inner .section-title.fw-bold{
    font-size: 46px;
}
.services .destination-inner .card-wrapper{
    margin-bottom: 25px;
}

  .back-to-top-icon {
    font-size: 20px;
  }
  .back-to-top-inner{
    background-color: #0a637a;
    border-radius: 50%;
    cursor: pointer;
  }
.destinations.destination-list .destination-inner .card-wrapper{
    width: 33.33%;
    margin-bottom: 50px;
}
.destinations.destination-list .destination-inner .card-wrapper .card{
    border:0;
}
.destinations.destination-list .destination-inner .card-wrapper .card .card-img-top{
    height: 100% !important;
    width: auto;
}
.destination-card-text{
    z-index: 3;
    margin-left: 3%;
    margin-top: 10px;
    padding:2px 15px;
    background-color: #f58826;
    border-radius: 14px;
}
.destinations.destination-list .destination-inner .card-wrapper .card-body a{
    font-size: 20px;
    margin-left: 3%;
}
.destinations.destination-list .destination-inner .card-wrapper .card-body a .fa-solid{
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
.destinations.destination-list .destination-inner .card-wrapper .card-body a:hover .fa-solid{
    margin-left: 5px;
}
.filter-inner.card{
    border-color: rgb(220, 220, 220);
    padding: 10px 15px;
    width: 100%;
    height: fit-content;

}
.filter-inner.card h4.section-title{
    font-size: 20px;
}
.filter-inner.card .col-12{
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 15px 0px;
}
.filter-inner.card .section-title .fa-solid{
    font-size: 16px;
}
.filter-inner.card .col-12 .filter-item .f-width.d-flex{
    cursor: pointer;
}
.filter-item-list{
    width: 95%;
    margin-left: 5%;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden;
}
.filter-item-list li{
    padding: 5px 0px;
}
.filter-inner.card .col-5 .f-14{
    font-size: 12px !important;
    cursor: pointer;
    text-decoration: underline
}
.filter-inner.card .col-5 .f-14:hover{
    color:#f58826 !important;
}
.filter-page-banner.card{
    padding: 15px;
}
.filter-item-list.show {
    max-height: 400px; /* Adjust based on content */
  }
.filter-card{
    width: fit-content;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    right: 0%;
    z-index: 5;
}
.filter-card.show{
    display: none;
}
.filter-card li{
    margin-bottom: 10px;
    cursor: pointer;
}
.fiter-page-body .card-wrapper{
    width: 50%;
    margin-bottom: 30px;
    
}
.fiter-page-body .card-wrapper .card{
    width: 95%;
    margin-left: 0%;
    transition: 0.3s ease-in-out;
}
.fiter-page-body .card-wrapper .card:hover{
    box-shadow: 0px 4px 10px rgb(220, 220, 220);
}
.fiter-page-body .card-wrapper .card:hover .card-img-top{
    transform: scale(1.02);
}
.tour-card h5{
    cursor: pointer;
    width: fit-content;
}
.filter-card p{
    margin:0px;
}
.filter-card .w-100 .col-7{
    margin:0px !important;
    border-right: 1px solid rgb(200, 200, 200);
}
.tour-card .card-body .col-7 p .fa-solid{
    color:#f58826;
    margin-right: 7px;
}
.tour-card .col-5 .destination-card-text{
    width: fit-content;
}

.card-body-fixed{
    height: 190px;
    overflow: hidden;
}
.card-btn{
    border-top: 1px solid rgb(220, 220, 220);
} 
.calendar-days .ms-2{
    margin-top:5px;
}
.range-slider-container {
    font-family: 'Arial', sans-serif;
    border-radius: 2px;
    background: white;
  }
  .slider-wrapper-relative {
    position: relative;
    padding: 20px 10px 30px;
  }
  
  .custom-slider {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(230, 230, 230);
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
  }
  
  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #bb4618;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    position: relative;
    z-index: 2;
  }
  
  .custom-slider::-webkit-slider-thumb:hover {
    transform: scale(1.1);
    background: #3a8bda;
  }
  
  /* Track fill */
  .custom-slider {
    position: relative;
  }
  
  .custom-slider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc((var(--value) - 1) / 6 * 100%);
    background: #bb4618;
    border-radius: 10px;
    pointer-events: none;
  }
  
  .value-bubble {
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    background:#f58826;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: left 0.2s ease;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -25px;
  }
  
  .label {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #e0e0e0;
    color: #666;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 12px;
  }
  
  .label.active {
    background: #4facfe;
    color: white;
    transform: scale(1.1);
  }
  .blog-img{
    width: 80px !important;
    height: 80px !important;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }
  .recent-post .section-title{
    font-size: 16px;
    cursor: pointer;
  }
.recent-post .col-8{
    width: calc(100% - 115px);
    margin-left: 15px;
}
.recent-post p{
    margin-bottom: 0px;
}
.contact-card.recent-post{
    padding: 20px;
}
.contact-card.recent-post .blog-img{
    border-radius: 50%;
    background-color: #113d48;
}
.blog-img-inner .fa-solid{
    font-size: 22px;
}
.contacts .recent-post.card{
    width: 28%;
    margin-right: 1%;
}
.contact-card.recent-post .blog-img{
    width: 60px !important;
    height: 60px !important;
}
.contact-card.recent-post .blog-img:hover{
    background-color: #f58826;
}
form.form-contact{
    width: 100%;
}
form .contact-card{
    padding: 20px;
}
form .contact-card .col-6{
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-bottom: 30px;
}
form .contact-card .col-12{
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-bottom: 30px;
}
form .form-group{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
}
.form-icon{
    font-size: 22px !important;
}
form .contact-card .col-12 textarea{
    height: 150px;
}
.tour-card-price{
    border-left: 1px solid rgb(220, 220, 220);
}
.drop-down{
    z-index: 1000;
    height: 40vh;
    margin-top: 15vh;
    width: 90%;
    left: 5%;
}
/* styles/loader.css */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Position both buttons on the right side */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  padding: 15px;
  background-color: #000;
  left: 90%;
  height: fit-content;
  top: 50%;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

/* Specific styling for the previous button (up arrow) */
.carousel-control-prev {
  transform: translateY(-100%) rotate(270deg); /* Move up and rotate to face up */
  
}

/* Specific styling for the next button (down arrow) */
.carousel-control-next {
  transform: translateY(0) rotate(90deg); /* Keep at center and rotate to face down */
  margin-top: 40px; /* Add space between the two buttons */
}

/* Button styling */
.custom-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.btn-default-white:hover .text-white{
    transition: 0.3s ease-in-out;
}
.btn-default-white:hover .text-white{
    color:#113d48 !important;
  }
  .btn-default-white:hover .light-svg{
    stroke: #113d48 !important
  }
  .btn-default-white:hover .dft-color{
    color: #ffffff !important;
  }
  .btn-default-white:hover .dark-svg{
    stroke: #ffffff;
  }
  .destinations .card.col-4 .btn-default-white{
    border: 1px solid #ffffff !important;
}
.destinations .card.col-4 .btn-default-white .dark-svg{
    stroke: #ffffff;
}

.destinations .card.col-4 .btn-default-white .text-white{
    color: #ffffff !important
}
@keyframes backToTop {
    0%{
      margin-top: -40px;
      opacity: 0;  
    }
    100%{
        margin-top: 0px;
        opacity: 1;  
    }
}
.nav-bar-bottom .col-3:last-child .fa-bars{
    display: none;
}






  /* responsiveness */
@media only screen and (max-width: 1215px) {
    /* .nav-bar-bottom .col-3:first-child, */
    .nav-bar-bottom .col-6,
    .nav-bar-bottom .col-3:last-child .btn-default-dark{
        display: none !important;
    }
    .nav-bar-bottom .col-3{
        
        width: 50% !important;
    }
    .nav-bar-bottom .col-3:last-child{
        display: flex;
        justify-content: end;
    }
    .nav-bar-bottom .col-3:last-child .fa-bars{
        display: block;
    }
    .img-logo{
        width: 150px !important;
    }
   
}
@media only screen and (max-width: 1040px) {
    
}