@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nova+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    color: #2d2c2c;
}
a{
    text-decoration: none !important;
    transition: 0.3s ease-in-out;
}
a:hover{
    color:  #bb4618 !important;
}
.my-icon{
    color:  #f58826;
}
.dft-color{
    color: #2d2c2c !important;
}
.dft-color-2{
    color:#113d48;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    margin-left: 0% !important;
}
.my-bg{
    background-color:  #bb4618;
}
.fw-s-bold{
    font-weight: 600;
}
.w-border{
    padding-right: 10px;
    border-right:1px solid rgb(180, 180, 180);
}
.w-fit{
    width: fit-content !important;
}
.btn-lang{
    border:1px solid rgb(180, 180, 180);
    font-size: 14px;
    background-color: transparent;
    height: 30px;
    padding: 0px 5px;
    border-radius: 15px;
}
.nav-bar.row{
    padding: 10px;
}
.f-14{
    font-size: 14px;
}
.f-15{
    font-size: 15px;
}
.img-logo{
    width: 200px !important;
    height: auto;
}
.nav-a{
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transform: 0.3s ease;
}
.nav-a::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 2px;
    background-color:  #bb4618;
    z-index: 0;
    transition: width 0.4s ease;
}
.nav-a:hover::before{
    width: 100%;
}
/* dark button */
.btn-default-dark {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color: #113d48;
    color: white; 
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-dark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color:  #bb4618; 
    border-radius: 30px;
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-dark:hover::before {
    width: 100%;
  }
  
  .btn-default-dark span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
  }

/* light button */
.btn-default-light {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color:  #bb4618;
    color: white; 
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color: #113d48;
    border-radius: 28px; 
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-light:hover::before {
    width: 100%;
  }
  
  .btn-default-light span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
  }
/* white button */
.btn-default-white {
    padding: 15px 25px;
    height: fit-content;
    border: 0px;
    border-radius: 30px;
    background-color: transparent;
    border:1px solid #ffffff;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .btn-default-white::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 0; 
    height: 100%;
    background-color: #ffffff;
    border-radius: 28px; 
    z-index: 0; 
    transition: width 0.4s ease; 
  }
  .btn-default-white:hover::before {
    width: 100%;
  }
  
  .btn-default-white span {
    position: relative; 
    z-index: 1; 
    font-size: 20px;
    transition: width 0.4s ease;
  }
  .btn-default-white:hover > span.text-white{
    color:#2d2c2c !important;
  }
.carousel.slide.custom-slider,
.carousel.slide.custom-slider .carousel-item,
.carousel.slide.custom-slider .carousel-item .carousel-item-inner,
.carousel.slide.custom-slider .carousel-item .carousel-caption{
    height: 90vh;
}
.carousel.slide.custom-slider .carousel-item .carousel-item-inner{
    overflow:hidden !important;
}
.carousel-caption{
    height: 90%;
    top:5%;
    left: 5%;
    text-align: left;
    z-index: 5;
}
.carousel-caption h5{
    font-size: 24px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction: alternate;
}
.carousel-caption p{
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction:alternate;
    font-size: 46px;
    z-index: 5;
}
.carousel-caption.with-anime .btn-default-white,
.carousel-caption.with-anime .btn-default-light{
    animation-name: goUp;
    animation-duration: 2s;
    animation-direction:alternate;
}
.slider-dark-panel.carousel-caption{
    width:100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    z-index:2;
}
@keyframes goUp {
    0%{
        opacity: 0;
        margin-top:10%;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.carousel-control-prev,
.carousel-control-next{
    z-index: 10;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    padding:10px 10px;
    background-color: #000;
    border-radius: 5px;
    background-image: none;
    opacity: 0.5;
    height: 45px;
    width: 50px;

}
.custom-btn.fa-solid{
    z-index: 11;
    font-size: 28px;
    padding:10px 10px;
    background-color: #000;
    border-radius: 5px;
}
.custom-btn.fa-solid:hover{
    background-color: #bb4618;
    opacity: 1;
    transition: 0.4s ease-in-out;
}
.card-wrapper{
    width:25%;
}
.search-bar.carousel-caption{
    width:90%;
    left:5%;
    /* padding:20px; */
    border-radius: 20px;
    border:2px solid  #bb4618;
    height: 15vh;
    top:105vh;
    z-index: 20;
}
.search-bar.carousel-caption .col-3{
    width:20%;
    border-right: 1px solid rgb(200, 200, 200);
}
.search-bar.carousel-caption .col-3 .form-control{
    border:0px;
    margin-left: 5px;
}
.search-bar.carousel-caption .col-3 .fa-solid{
    margin-top: 27px;
    margin-left: 20px;
}
.categories{
    margin-top: 20vh;
    width:92%;
    margin-left: 4%;
}
.title-italic{
    font-size: 20px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    color:#113d48;
}
.section-title{
    font-size: 32px;
    color:#113d48;
}
.categories .card-text{
    font-weight: 600;
    color:rgb(150, 150, 150);
    cursor: pointer;
    font-size: 12px;
}
.categories .card-wrapper .card{
    border:0px;
}
.categories .card-wrapper .card .card-top{
    height: 30vh;
}
.categories .card-wrapper .card .card-top .card-top-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    opacity: 0; 
    transition: opacity 0.4s ease; 
}
.categories .card-wrapper .card .card-top .card-img-top{
    border-radius: 10px;
}

.categories .card-wrapper .card:hover .card-top .card-top-cover {
    opacity: 1; 
}

.categories .card-wrapper .card .card-top .card-top-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background: rgba(255, 255, 255, 0.3); 
    transition: height 0.4s ease;
}

.categories .card-wrapper .card:hover .card-top .card-top-cover::before {
    height: 100%; 
}
.categories .category-inner{
    margin-top: 5vh;
    width:94%;
    margin-left: 3%;
}
.mt-10-vh{
    margin-top: 10vh;
}
.mt-5-vh{
    margin-top: 5vh;
}
.vh-60{
    height: 60vh;
}
.vh-80{
    height: 80vh;
}
.destinations .card.col-4{
    width: 30%;
    padding:0px;
    border:0px;
    border-radius: 15px;
}
.destinations .card-1,
.destinations .card-1-right{
    top: 10%;
    height: 80%;
    z-index: 1;
    filter: blur(6px);
}
.destinations .card.active{
    left: 35%;
}
.destinations .card-2{
    left: 15%;
    filter: blur(6px);
}
.destinations .card-1-right{
    left: 70%;
}
.destinations .card-2-right{
    left: 55%;
    filter: blur(6px);
}
.destinations .card-2,
.destinations .card-2-right{
    top: 5%;
    height: 90%;
    z-index:2;
}
.destinations .card.active{
    width: 30%;
    height: 100%;
    z-index: 3;
}
.card-inner-image{
    z-index: 1;
}
.card-inner-image img{
    min-width: 100% !important;
}
.card-inner-dark-layout{
    z-index: 2;
    opacity: 0.5;
}
.card-inner-text{
    z-index: 3;
}
.card-inner-text .btn-default-white{
    padding: 5px 10px;
    width:fit-content;
}
.cursor-follower-inner-dark-layout{
    background-color: #113d48;
    border-radius: 50%;
    opacity: 0.8;
}
.cursor-follower-text{
    z-index: 2;
}
.cursor-follower-text-inner-inner p{
    margin-top: 10px;
}
